.carousel {
    overflow: auto;
    padding-left: 30px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    margin: 70px 0px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    width: 4300px;
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
}

.carousel::-webkit-scrollbar {
    height: 6px;
}

.carousel::-webkit-scrollbar-thumb {
    background: #d3c4f0;
    border-radius: 4px;
}
  
.carousel::-webkit-scrollbar-thumb:active {
  background-color: #d3c4f0;
}
  
.carousel::-webkit-scrollbar-thumb:hover {
    background: #d3c4f0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
  
.carousel::-webkit-scrollbar-track {
    background: #8f57fd;
}
  
.carousel::-webkit-scrollbar-track:hover, 
.carousel::-webkit-scrollbar-track:active {
    background: #8f57fd;
  }